docs/nodered-spe-ws-flow.json
[
  {
    "id": "spe_ws_tab_01",
    "type": "tab",
    "label": "SPE (WS)",
    "disabled": false,
    "info": "WebSocket-based SPE flow.\n\nTalks to the spe-remote Python server at ws://localhost:8888/ws\ninstead of holding /dev/ttyUSBx itself. This means:\n - Node-RED, the browser dashboard at http://<pi>:8888/, and\n   MacExpert can all monitor and control the amp simultaneously.\n - No serial port contention, no exec/python power-on dance.\n - Server handles framing, checksum, wraparound recovery, RCU.\n\nNodes are wired to the same dashboard layout as the original flow,\nso the SPE Panel UI Template + button router stay almost untouched —\nonly the I/O ends were swapped from serial to WebSocket.\n"
  },
  {
    "id": "ws_spe_client",
    "type": "websocket-client",
    "path": "ws://localhost:8888/ws",
    "tls": "",
    "wholemsg": "false",
    "hb": "0",
    "subprotocol": ""
  },
  {
    "id": "ws_overview_cmt",
    "type": "comment",
    "z": "spe_ws_tab_01",
    "name": "ReadMe (WebSocket-based SPE)",
    "info": "Replaces the original spe-flow's serial-port plumbing with a\nWebSocket client to the spe-remote Python server.\n\nServer protocol (text JSON over /ws):\n  state      {model_id,op_status,tx_status,input,band,tx_antenna,\n              p_level,p_out,swr,aswr,voltage,drain,\n              pa_temp,pa_temp_lower,pa_temp_combiner,\n              warnings,error}\n  heartbeat  {heartbeat:true, serial:'up'|'down', clients:N, ts:...}\n  power_res  {power_result:'power_on'|'power_off', status:'ok'|'error'}\n\nClient -> server: bare command name as text, e.g. 'oper', 'tune',\n'band_up', 'power_on', 'power_off' (full set in server's protocol.py).\n\nDashboard: a clone of the original SPE Panel UI Template, mounted in\na new dashboard group 'Amplifier (WS)' so it can coexist with the\noriginal one. Reuses the same SPE GitHub CSS rules.\n",
    "x": 200,
    "y": 40,
    "wires": []
  },
  {
    "id": "ws_in_node",
    "type": "websocket in",
    "z": "spe_ws_tab_01",
    "name": "WS in (state)",
    "client": "ws_spe_client",
    "x": 160,
    "y": 140,
    "wires": [["ws_parse_node"]]
  },
  {
    "id": "ws_parse_node",
    "type": "function",
    "z": "spe_ws_tab_01",
    "name": "Parse + route",
    "func": "if (Buffer.isBuffer(msg.payload)) return null;\nif (typeof msg.payload !== 'string') return null;\nlet d;\ntry { d = JSON.parse(msg.payload); }\ncatch (e) { return null; }\nmsg.payload = d;\nif (d.heartbeat)         return [null, msg, null];\nif (d.power_result)      return [null, null, msg];\nif (d.op_status !== undefined) return [msg, null, null];\nreturn null;\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 140,
    "wires": [
      ["ws_format_state"],
      ["ws_format_hb"],
      ["ws_pwr_result_dbg"]
    ]
  },
  {
    "id": "ws_format_state",
    "type": "function",
    "z": "spe_ws_tab_01",
    "name": "WS state -> Dashboard payload",
    "func": "const d = msg.payload;\nif (!d) return null;\nconst pwrMap    = { L: 'Low',    M: 'Middle', H: 'Maximum' };\nconst pwrMaxMap = { L: 500,      M: 1000,     H: 1500      };\nif (d.model_id === '20K') {\n  pwrMaxMap.L = 700; pwrMaxMap.M = 1400; pwrMaxMap.H = 2000;\n}\nmsg.payload = {\n  model:     d.model_id || '—',\n  mode:      d.op_status === 'Stby' ? 'Standby' : 'Operate',\n  rxtx:      d.tx_status === 'TX'   ? 'TRANSMIT' : 'RECEIVE',\n  bank:      '—',\n  input:     d.input    || '—',\n  band:      (d.band    || '—').toUpperCase(),\n  txant:     d.tx_antenna || '—',\n  rxant:     '—',\n  pwrlvl:    pwrMap[d.p_level] || d.p_level || '—',\n  pwr:       parseFloat(d.p_out)   || 0,\n  pwrMax:    pwrMaxMap[d.p_level]  || 1500,\n  atuswr:    parseFloat(d.swr)     || 1,\n  antswr:    parseFloat(d.aswr)    || 1,\n  vpa:       parseFloat(d.voltage) || 0,\n  ipa:       parseFloat(d.drain)   || 0,\n  tempUpper: parseFloat(d.pa_temp)          || 0,\n  tempLower: parseFloat(d.pa_temp_lower)    || 0,\n  tempComb:  parseFloat(d.pa_temp_combiner) || 0,\n  warnings:  d.warnings && d.warnings.trim() ? d.warnings : 'No Warnings',\n  alarms:    d.error    && d.error.trim()   ? d.error    : 'No Alarms',\n  usb:       true,\n  sync:      true\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 100,
    "wires": [["ws_panel_node"]]
  },
  {
    "id": "ws_format_hb",
    "type": "function",
    "z": "spe_ws_tab_01",
    "name": "WS heartbeat -> usb chip",
    "func": "const d = msg.payload;\nif (!d) return null;\nmsg.payload = { usb: d.serial === 'up', sync: d.serial === 'up' };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 160,
    "wires": [["ws_panel_node"]]
  },
  {
    "id": "ws_pwr_result_dbg",
    "type": "debug",
    "z": "spe_ws_tab_01",
    "name": "power result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 220,
    "wires": []
  },
  {
    "id": "ws_panel_node",
    "type": "ui_template",
    "z": "spe_ws_tab_01",
    "group": "vu2cpl_grp_spe_ws",
    "name": "SPE Panel (WS)",
    "order": 1,
    "width": 6,
    "height": 17,
    "format": "<div class=\"gh-card\">\n<div class=\"gh-sec\">SPE Amplifier (WebSocket)</div>\n\n<div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:6px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Mode</div><span class=\"gh-badge\" id=\"spew-mode\">—</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">RX / TX</div><span class=\"gh-badge\" id=\"spew-rxtx\">—</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Band</div><div class=\"gh-val\" id=\"spew-band\" style=\"color:var(--gh-blue)\">—</div></div>\n</div>\n<div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:8px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Input</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-input\">—</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">TX Ant</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-txant\">—</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">PWR Lvl</div><span class=\"gh-badge\" id=\"spew-pwrlvl\">—</span></div>\n</div>\n<div style=\"display:grid;grid-template-columns:1fr 1fr;gap:5px;margin-bottom:6px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Warnings</div><span class=\"gh-badge\" id=\"spew-warn\">—</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Alarms</div><span class=\"gh-badge\" id=\"spew-alarm\">—</span></div>\n</div>\n<div style=\"display:grid;grid-template-columns:1fr 1fr;gap:5px;margin-bottom:10px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">WS Status</div><span class=\"gh-badge\" id=\"spew-usb\">—</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Serial</div><span class=\"gh-badge\" id=\"spew-sync\">—</span></div>\n</div>\n<div style=\"margin-bottom:7px;\">\n  <div style=\"display:flex;justify-content:space-between;\"><div class=\"gh-lbl\">Output Power</div><span style=\"font-family:var(--gh-font);font-size:11px;color:var(--gh-green);\" id=\"spew-pwr-val\">— W</span></div>\n  <div style=\"margin-top:3px;\"><div class=\"gh-track\"><div class=\"gh-fill\" id=\"spew-pwr-bar\" style=\"width:0%;background:var(--gh-green)\"></div></div></div>\n</div>\n<div style=\"margin-bottom:7px;\">\n  <div style=\"display:flex;justify-content:space-between;\"><div class=\"gh-lbl\">ATU SWR</div><span style=\"font-family:var(--gh-font);font-size:11px;color:var(--gh-green);\" id=\"spew-atuswr-val\">—</span></div>\n  <div style=\"margin-top:3px;\"><div class=\"gh-track\"><div class=\"gh-fill\" id=\"spew-atuswr-bar\" style=\"width:0%;background:var(--gh-green)\"></div></div></div>\n</div>\n<div style=\"margin-bottom:10px;\">\n  <div style=\"display:flex;justify-content:space-between;\"><div class=\"gh-lbl\">ANT SWR</div><span style=\"font-family:var(--gh-font);font-size:11px;color:var(--gh-green);\" id=\"spew-antswr-val\">—</span></div>\n  <div style=\"margin-top:3px;\"><div class=\"gh-track\"><div class=\"gh-fill\" id=\"spew-antswr-bar\" style=\"width:0%;background:var(--gh-green)\"></div></div></div>\n</div>\n<div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:10px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">V PA</div><div class=\"gh-val\" style=\"font-size:12px;color:var(--gh-blue);\" id=\"spew-vpa\">—V</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">I PA</div><div class=\"gh-val\" style=\"font-size:12px;color:var(--gh-amber);\" id=\"spew-ipa\">—A</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Temp Upper</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-temp\">—°C</div></div>\n</div>\n<div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:5px;\">\n  <button class=\"gh-btn gh-btn-r\" ng-click=\"send({payload:'OFF_SPE'})\">Power Off</button>\n  <button class=\"gh-btn gh-btn-b\" ng-click=\"send({payload:'MODE'})\">Mode</button>\n  <button class=\"gh-btn gh-btn-g\" ng-click=\"send({payload:'PWRLVL'})\">PWR LVL</button>\n  <button class=\"gh-btn gh-btn-a\" ng-click=\"send({payload:'TUNE'})\">Tune</button>\n</div>\n\n<div class=\"gh-exp-hdr\" onclick=\"ghToggleW('spew-detail',this)\">\n  <span class=\"gh-exp-lbl\">More Details</span>\n  <span class=\"gh-exp-arr\">▶</span>\n</div>\n<div class=\"gh-exp-body\" id=\"spew-detail\">\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;\">\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Bank</div><div class=\"gh-val\" id=\"spew-bank\">—</div></div>\n    <div class=\"gh-box\"><div class=\"gh-lbl\">RX Ant</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-rxant\">—</div></div>\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Model</div><div class=\"gh-val\" style=\"font-size:11px;color:var(--gh-muted);\" id=\"spew-model\">—</div></div>\n  </div>\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:5px;margin-top:5px;\">\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Temp Lower</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-templ\">—°C</div></div>\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Temp Combiner</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-tempc\">—°C</div></div>\n  </div>\n</div>\n\n<div class=\"gh-exp-hdr\" onclick=\"ghToggleW('spew-ctrl',this)\">\n  <span class=\"gh-exp-lbl\">SPE Controls</span>\n  <span class=\"gh-exp-arr\">▶</span>\n</div>\n<div class=\"gh-exp-body\" id=\"spew-ctrl\">\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:6px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'INPUT'})\">Input ▶</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'ANTENNA'})\">Antenna ▶</button>\n    <button class=\"gh-btn gh-btn-g\" ng-click=\"send({payload:'ON_SPE'})\">Power On</button>\n  </div>\n</div>\n\n<div class=\"gh-exp-hdr\" onclick=\"ghToggleW('spew-aux',this)\">\n  <span class=\"gh-exp-lbl\">SPE Aux</span>\n  <span class=\"gh-exp-arr\">▶</span>\n</div>\n<div class=\"gh-exp-body\" id=\"spew-aux\">\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:5px;\">\n    <button class=\"gh-btn gh-btn-b\" ng-click=\"send({payload:'BL_ON'})\">B/L On</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'BL_OFF'})\">B/L Off</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'DISPLAY'})\">Display</button>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:5px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'L_MINUS'})\">L −</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'L_PLUS'})\">L +</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'SET'})\">Set</button>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:5px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'C_MINUS'})\">C −</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'C_PLUS'})\">C +</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'BAND_MINUS'})\">Band −</button>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'LEFT'})\">◀ Left</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'RIGHT'})\">Right ▶</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'BAND_PLUS'})\">Band +</button>\n  </div>\n</div>\n\n</div>\n\n<script>\nfunction ghToggleW(id, hdr){\n  var body=document.getElementById(id);\n  var arr=hdr.querySelector('.gh-exp-arr');\n  var open=body.classList.toggle('open');\n  arr.classList.toggle('open',open);\n}\nfunction speBadgeW(id, text, cls){ var el=document.getElementById(id); if(!el) return; el.textContent=text; el.className='gh-badge '+cls; }\nfunction speValW(id, text, color){ var el=document.getElementById(id); if(!el) return; el.textContent=text; if(color) el.style.color=color; }\nfunction speBarW(barId, valId, pct, val, color){ var b=document.getElementById(barId); var v=document.getElementById(valId); if(b){ b.style.width=Math.min(100,Math.max(0,pct))+'%'; b.style.background=color||'var(--gh-green)'; } if(v){ v.textContent=val; v.style.color=color||'var(--gh-green)'; } }\n\nscope.$watch('msg', function(msg){\n  if(!msg||!msg.payload) return;\n  var d=msg.payload;\n  if(d.mode!==undefined){ var mc=d.mode==='Operate'?'gh-err':'gh-ok'; speBadgeW('spew-mode', d.mode||'—', mc); }\n  if(d.rxtx!==undefined){ var rc=d.rxtx==='TRANSMIT'?'gh-err':'gh-ok'; speBadgeW('spew-rxtx', d.rxtx||'—', rc); }\n  if(d.band!==undefined) speValW('spew-band', d.band||'—');\n  if(d.input!==undefined) speValW('spew-input', 'Input '+d.input);\n  if(d.txant!==undefined) speValW('spew-txant', d.txant||'—');\n  if(d.pwrlvl!==undefined){ var pc=d.pwrlvl==='Maximum'?'gh-err':d.pwrlvl==='Middle'?'gh-wrn':'gh-inf'; speBadgeW('spew-pwrlvl', d.pwrlvl||'—', pc); }\n  if(d.warnings!==undefined){ var wc=d.warnings==='No Warnings'?'gh-ok':'gh-wrn'; speBadgeW('spew-warn', d.warnings||'—', wc); }\n  if(d.alarms!==undefined){ var ac=d.alarms==='No Alarms'?'gh-ok':'gh-err'; speBadgeW('spew-alarm', d.alarms||'—', ac); }\n  if(d.usb!==undefined) speBadgeW('spew-usb', d.usb?'Connected':'Disconnected', d.usb?'gh-ok':'gh-err');\n  if(d.sync!==undefined) speBadgeW('spew-sync', d.sync?'Up':'Down', d.sync?'gh-ok':'gh-err');\n  if(d.pwr!==undefined){ var pp=d.pwrMax?d.pwr/d.pwrMax*100:62; var pc2=pp>90?'var(--gh-red)':pp>70?'var(--gh-amber)':'var(--gh-green)'; speBarW('spew-pwr-bar','spew-pwr-val',pp, d.pwr+'W / '+(d.pwrMax||1500)+'W', pc2); }\n  if(d.atuswr!==undefined){ var sp=Math.min(100,Math.max(0,(d.atuswr-1)/2*100)); var sc=d.atuswr>2?'var(--gh-red)':d.atuswr>1.5?'var(--gh-amber)':'var(--gh-green)'; speBarW('spew-atuswr-bar','spew-atuswr-val',sp,d.atuswr.toFixed(2),sc); }\n  if(d.antswr!==undefined){ var ap=Math.min(100,Math.max(0,(d.antswr-1)/2*100)); var ac2=d.antswr>2?'var(--gh-red)':d.antswr>1.5?'var(--gh-amber)':'var(--gh-green)'; speBarW('spew-antswr-bar','spew-antswr-val',ap,d.antswr.toFixed(2),ac2); }\n  if(d.vpa!==undefined) speValW('spew-vpa', d.vpa+'V');\n  if(d.ipa!==undefined) speValW('spew-ipa', d.ipa+'A');\n  if(d.tempUpper!==undefined){ var tc=d.tempUpper>60?'var(--gh-red)':d.tempUpper>50?'var(--gh-amber)':'var(--gh-green)'; speValW('spew-temp', d.tempUpper+'°C', tc); }\n  if(d.bank!==undefined) speValW('spew-bank', 'Bank '+d.bank);\n  if(d.rxant!==undefined) speValW('spew-rxant', d.rxant||'—');\n  if(d.model!==undefined) speValW('spew-model', d.model||'—');\n  if(d.tempLower!==undefined){ var tlc=d.tempLower>60?'var(--gh-red)':d.tempLower>50?'var(--gh-amber)':'var(--gh-green)'; speValW('spew-templ', d.tempLower+'°C', tlc); }\n  if(d.tempComb!==undefined){ var tcc=d.tempComb>60?'var(--gh-red)':d.tempComb>50?'var(--gh-amber)':'var(--gh-green)'; speValW('spew-tempc', d.tempComb+'°C', tcc); }\n});\n</script>",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 860,
    "y": 140,
    "wires": [["ws_btn_router"]]
  },
  {
    "id": "ws_btn_router",
    "type": "function",
    "z": "spe_ws_tab_01",
    "name": "Button -> WS command",
    "func": "const map = {\n  MODE: 'oper',\n  TUNE: 'tune',\n  INPUT: 'input',\n  ANTENNA: 'antenna',\n  PWRLVL: 'power_level',\n  BL_ON: 'backlight_on',\n  BL_OFF: 'backlight_off',\n  L_MINUS: 'l_minus',\n  L_PLUS: 'l_plus',\n  C_MINUS: 'c_minus',\n  C_PLUS: 'c_plus',\n  LEFT: 'left',\n  RIGHT: 'right',\n  SET: 'set',\n  DISPLAY: 'display',\n  BAND_MINUS: 'band_dn',\n  BAND_PLUS: 'band_up',\n  OFF_SPE: 'power_off',\n  ON_SPE: 'power_on'\n};\nconst cmd = map[msg.payload];\nif (!cmd) return null;\nmsg.payload = cmd;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1090,
    "y": 140,
    "wires": [["ws_out_node"]]
  },
  {
    "id": "ws_out_node",
    "type": "websocket out",
    "z": "spe_ws_tab_01",
    "name": "WS out (commands)",
    "client": "ws_spe_client",
    "x": 1320,
    "y": 140,
    "wires": []
  },
  {
    "id": "ws_css_template",
    "type": "ui_template",
    "z": "spe_ws_tab_01",
    "group": "",
    "name": "SPE GitHub CSS (WS)",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<style>\n:root{\n  --gh-bg:#0d1117;--gh-card:#161b22;--gh-border:#30363d;\n  --gh-text:#c9d1d9;--gh-muted:#8b949e;\n  --gh-green:#3fb950;--gh-red:#f85149;--gh-amber:#e3b341;--gh-blue:#58a6ff;\n  --gh-font:'SFMono-Regular','Consolas',monospace;\n  --gh-sans:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\n}\n.gh-card{background:var(--gh-card);border:1px solid var(--gh-border);border-radius:6px;padding:10px 12px;font-family:var(--gh-sans);color:var(--gh-text);}\n.gh-sec{font-size:10px;color:var(--gh-muted);letter-spacing:2px;text-transform:uppercase;padding:2px 0 5px;border-bottom:1px solid var(--gh-border);margin-bottom:8px;}\n.gh-lbl{font-size:9px;color:var(--gh-muted);letter-spacing:1px;text-transform:uppercase;}\n.gh-val{font-family:var(--gh-font);font-size:14px;font-weight:700;margin-top:2px;}\n.gh-box{background:#0d1117;border:1px solid var(--gh-border);border-radius:4px;padding:5px 7px;}\n.gh-track{background:#21262d;border-radius:2px;height:6px;width:100%;}\n.gh-fill{height:6px;border-radius:2px;}\n.gh-badge{border-radius:4px;padding:2px 8px;font-size:10px;font-family:var(--gh-font);display:inline-block;margin-top:2px;border:1px solid;}\n.gh-ok{background:#0d2818;border-color:var(--gh-green);color:var(--gh-green);}\n.gh-err{background:#2d0808;border-color:var(--gh-red);color:var(--gh-red);}\n.gh-inf{background:#0d1a2a;border-color:var(--gh-blue);color:var(--gh-blue);}\n.gh-wrn{background:#2d1800;border-color:var(--gh-amber);color:var(--gh-amber);}\n.gh-btn{border-radius:4px;padding:6px 10px;font-size:11px;font-family:var(--gh-font);cursor:pointer;text-align:center;border:1px solid var(--gh-border);background:#0d1117;color:var(--gh-text);width:100%;transition:all 0.15s;}\n.gh-btn:hover{border-color:var(--gh-blue);color:var(--gh-blue);}\n.gh-btn-g{border-color:var(--gh-green);color:var(--gh-green);background:#0d2818;}\n.gh-btn-r{border-color:var(--gh-red);color:var(--gh-red);background:#2d0808;}\n.gh-btn-b{border-color:var(--gh-blue);color:var(--gh-blue);background:#0d1a2a;}\n.gh-btn-a{border-color:var(--gh-amber);color:var(--gh-amber);background:#2d1800;}\n.gh-exp-hdr{display:flex;align-items:center;justify-content:space-between;cursor:pointer;padding:6px 0;border-top:1px solid var(--gh-border);margin-top:8px;user-select:none;}\n.gh-exp-hdr:hover .gh-exp-lbl{color:var(--gh-blue);}\n.gh-exp-lbl{font-size:10px;color:var(--gh-muted);letter-spacing:2px;text-transform:uppercase;}\n.gh-exp-arr{font-size:10px;color:var(--gh-muted);transition:transform 0.2s;display:inline-block;}\n.gh-exp-arr.open{transform:rotate(90deg);}\n.gh-exp-body{overflow:hidden;max-height:0;transition:max-height 0.25s ease;}\n.gh-exp-body.open{max-height:600px;padding-top:8px;}\n</style>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "global",
    "x": 170,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "vu2cpl_grp_spe_ws",
    "type": "ui_group",
    "name": "Amplifier (WS)",
    "tab": "vu2cpl_ui_tab_shack",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": true,
    "className": ""
  }
]
