docs/nodered-spe-ws-flow.json
[
    {
        "id": "spe_ws_tab_01",
        "type": "tab",
        "label": "SPE (WS)",
        "disabled": false,
        "info": "WebSocket-based SPE flow.\n\nTalks to the spe-remote Python server at ws://localhost:8888/ws\ninstead of holding /dev/ttyUSBx itself. This means:\n - Node-RED, the browser dashboard at http://<pi>:8888/, and\n   MacExpert can all monitor and control the amp simultaneously.\n - No serial port contention, no exec/python power-on dance.\n - Server handles framing, checksum, wraparound recovery, RCU.\n\nNodes are wired to the same dashboard layout as the original flow,\nso the SPE Panel UI Template + button router stay almost untouched \u2014\nonly the I/O ends were swapped from serial to WebSocket.\n"
    },
    {
        "id": "ws_spe_client",
        "type": "websocket-client",
        "path": "ws://localhost:8888/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "vu2cpl_grp_spe_ws",
        "type": "ui_group",
        "name": "Amplifier (WS)",
        "tab": "vu2cpl_ui_tab_shack",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "ws_overview_cmt",
        "type": "comment",
        "z": "spe_ws_tab_01",
        "name": "ReadMe (WebSocket-based SPE)",
        "info": "Replaces the original spe-flow's serial-port plumbing with a\nWebSocket client to the spe-remote Python server.\n\nServer protocol (text JSON over /ws):\n  state      {model_id,op_status,tx_status,input,band,tx_antenna,\n              p_level,p_out,swr,aswr,voltage,drain,\n              pa_temp,pa_temp_lower,pa_temp_combiner,\n              warnings,error}\n  heartbeat  {heartbeat:true, serial:'up'|'down', clients:N, ts:...}\n  power_res  {power_result:'power_on'|'power_off', status:'ok'|'error'}\n\nClient -> server: bare command name as text, e.g. 'oper', 'tune',\n'band_up', 'power_on', 'power_off' (full set in server's protocol.py).\n\nDashboard: a clone of the original SPE Panel UI Template, mounted in\na new dashboard group 'Amplifier (WS)' so it can coexist with the\noriginal one. Reuses the same SPE GitHub CSS rules.\n\nBefore importing on a new Pi:\n  - Edit the 'SPE power-on script' exec node and replace\n    <path-to-spe-remote>/power_spe_on.py with the actual\n    path on that host (the script ships in the spe-remote\n    repo root, e.g. /home/<user>/spe-remote/power_spe_on.py).\n  - Make sure the Node-RED process user can read+execute it\n    and has access to the FTDI device (dialout group).",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ws_in_node",
        "type": "websocket in",
        "z": "spe_ws_tab_01",
        "name": "WS in (state)",
        "client": "ws_spe_client",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "ws_parse_node"
            ]
        ]
    },
    {
        "id": "ws_parse_node",
        "type": "function",
        "z": "spe_ws_tab_01",
        "name": "Parse + route",
        "func": "// websocket in delivers msg.payload as the raw text frame.\n// Binary frames (RCU LCD mirror) arrive as Buffers; we skip those.\nif (Buffer.isBuffer(msg.payload)) return null;\nif (typeof msg.payload !== 'string') return null;\n\nlet d;\ntry { d = JSON.parse(msg.payload); }\ncatch (e) { return null; }\n\nmsg.payload = d;\n\n// Route by message type.\n// Output 1: amplifier state\n// Output 2: heartbeat (serial up/down + client count)\n// Output 3: power-action result\nif (d.heartbeat)         return [null, msg, null];\nif (d.power_result)      return [null, null, msg];\nif (d.op_status !== undefined) return [msg, null, null];\nreturn null;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "ws_format_state"
            ],
            [
                "ws_format_hb"
            ],
            [
                "ws_pwr_result_dbg"
            ]
        ]
    },
    {
        "id": "ws_format_state",
        "type": "function",
        "z": "spe_ws_tab_01",
        "name": "WS state \u2192 Dashboard payload",
        "func": "// Convert the server's state JSON to the flat shape the SPE Panel\n// UI Template expects (mode, rxtx, band, pwr, atuswr, ... etc.).\nconst d = msg.payload;\nif (!d) return null;\n\nconst pwrMap    = { L: 'Low',    M: 'Middle', H: 'Maximum' };\nconst pwrMaxMap = { L: 500,      M: 1000,     H: 1500      };\n// 2K-FA full-scale bumps to 2000W if you have one.\nif (d.model_id === '20K') {\n  pwrMaxMap.L = 700; pwrMaxMap.M = 1400; pwrMaxMap.H = 2000;\n}\n\nmsg.payload = {\n  model:     d.model_id || '\u2014',\n  mode:      d.op_status === 'Stby' ? 'Standby' : 'Operate',\n  rxtx:      d.tx_status === 'TX'   ? 'TRANSMIT' : 'RECEIVE',\n  bank:      '\u2014',                              // not exposed by server\n  input:     d.input    || '\u2014',\n  band:      (d.band    || '\u2014').toUpperCase(),\n  txant:     d.tx_antenna || '\u2014',\n  rxant:     '\u2014',                              // not exposed by server\n  pwrlvl:    pwrMap[d.p_level] || d.p_level || '\u2014',\n  pwr:       parseFloat(d.p_out)   || 0,\n  pwrMax:    pwrMaxMap[d.p_level]  || 1500,\n  atuswr:    parseFloat(d.swr)     || 1,\n  antswr:    parseFloat(d.aswr)    || 1,\n  vpa:       parseFloat(d.voltage) || 0,\n  ipa:       parseFloat(d.drain)   || 0,\n  tempUpper: parseFloat(d.pa_temp)          || 0,\n  tempLower: parseFloat(d.pa_temp_lower)    || 0,\n  tempComb:  parseFloat(d.pa_temp_combiner) || 0,\n  warnings:  d.warnings && d.warnings.trim() ? d.warnings : 'No Warnings',\n  alarms:    d.error    && d.error.trim()   ? d.error    : 'No Alarms',\n  usb:       true,\n  sync:      true\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            [
                "ws_panel_node"
            ]
        ]
    },
    {
        "id": "ws_format_hb",
        "type": "function",
        "z": "spe_ws_tab_01",
        "name": "WS heartbeat \u2192 usb chip",
        "func": "// Push the server's serial-link state to the USB chip on the panel.\n// Partial payload \u2014 the UI Template only updates fields that are\n// !== undefined, so the rest of the dashboard stays as it was.\nconst d = msg.payload;\nif (!d) return null;\nmsg.payload = {\n  usb: d.serial === 'up',\n  sync: d.serial === 'up'\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "ws_panel_node"
            ]
        ]
    },
    {
        "id": "ws_pwr_result_dbg",
        "type": "debug",
        "z": "spe_ws_tab_01",
        "name": "power result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "ws_panel_node",
        "type": "ui_template",
        "z": "spe_ws_tab_01",
        "group": "vu2cpl_grp_spe_ws",
        "name": "SPE Panel (WS)",
        "order": 1,
        "width": 6,
        "height": 15,
        "format": "<div class=\"gh-card\">\n<div class=\"gh-sec\">SPE Amplifier (WebSocket)</div>\n\n<div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:6px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Mode</div><span class=\"gh-badge\" id=\"spew-mode\">\u2014</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">RX / TX</div><span class=\"gh-badge\" id=\"spew-rxtx\">\u2014</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Band</div><div class=\"gh-val\" id=\"spew-band\" style=\"color:var(--gh-blue)\">\u2014</div></div>\n</div>\n<div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:8px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Input</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-input\">\u2014</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">TX Ant</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-txant\">\u2014</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">PWR Lvl</div><span class=\"gh-badge\" id=\"spew-pwrlvl\">\u2014</span></div>\n</div>\n<div style=\"display:grid;grid-template-columns:1fr 1fr;gap:5px;margin-bottom:6px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Warnings</div><span class=\"gh-badge\" id=\"spew-warn\">\u2014</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Alarms</div><span class=\"gh-badge\" id=\"spew-alarm\">\u2014</span></div>\n</div>\n<div style=\"display:grid;grid-template-columns:1fr 1fr;gap:5px;margin-bottom:10px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">WS Status</div><span class=\"gh-badge\" id=\"spew-usb\">\u2014</span></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Serial</div><span class=\"gh-badge\" id=\"spew-sync\">\u2014</span></div>\n</div>\n<div style=\"margin-bottom:7px;\">\n  <div style=\"display:flex;justify-content:space-between;align-items:baseline;\">\n    <div class=\"gh-lbl\">Output Power</div>\n    <span style=\"font-family:var(--gh-font);font-size:11px;color:var(--gh-green);\" id=\"spew-pwr-val\">\u2014</span>\n  </div>\n  <div style=\"margin-top:3px;\">\n    <div class=\"gh-track\" style=\"height:10px;border:1px solid #30363d;border-radius:3px;overflow:hidden;\">\n      <div class=\"gh-fill\" id=\"spew-pwr-bar\"\n        style=\"width:0%;height:10px;background:var(--gh-green);transition:width 0.3s ease,background 0.3s ease;box-shadow:inset 0 -1px 2px rgba(0,0,0,0.25);\">\n      </div>\n    </div>\n  </div>\n</div>\n<div style=\"margin-bottom:7px;\">\n  <div style=\"display:flex;justify-content:space-between;\"><div class=\"gh-lbl\">ATU SWR</div><span style=\"font-family:var(--gh-font);font-size:11px;color:var(--gh-green);\" id=\"spew-atuswr-val\">\u2014</span></div>\n  <div style=\"margin-top:3px;\"><div class=\"gh-track\"><div class=\"gh-fill\" id=\"spew-atuswr-bar\" style=\"width:0%;background:var(--gh-green)\"></div></div></div>\n</div>\n<div style=\"margin-bottom:10px;\">\n  <div style=\"display:flex;justify-content:space-between;\"><div class=\"gh-lbl\">ANT SWR</div><span style=\"font-family:var(--gh-font);font-size:11px;color:var(--gh-green);\" id=\"spew-antswr-val\">\u2014</span></div>\n  <div style=\"margin-top:3px;\"><div class=\"gh-track\"><div class=\"gh-fill\" id=\"spew-antswr-bar\" style=\"width:0%;background:var(--gh-green)\"></div></div></div>\n</div>\n<div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:10px;\">\n  <div class=\"gh-box\"><div class=\"gh-lbl\">V PA</div><div class=\"gh-val\" style=\"font-size:12px;color:var(--gh-blue);\" id=\"spew-vpa\">\u2014V</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">I PA</div><div class=\"gh-val\" style=\"font-size:12px;color:var(--gh-amber);\" id=\"spew-ipa\">\u2014A</div></div>\n  <div class=\"gh-box\"><div class=\"gh-lbl\">Temp Upper</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-temp\">\u2014\u00b0C</div></div>\n</div>\n<div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:5px;\">\n  <button class=\"gh-btn gh-btn-r\" id=\"spew-pwr-btn\" onclick=\"window.speAmpToggle()\">OFF</button>\n  <button class=\"gh-btn gh-btn-b\" ng-click=\"send({payload:'MODE'})\">Mode</button>\n  <button class=\"gh-btn gh-btn-g\" ng-click=\"send({payload:'PWRLVL'})\">PWR LVL</button>\n  <button class=\"gh-btn gh-btn-a\" ng-click=\"send({payload:'TUNE'})\">Tune</button>\n</div>\n\n<div class=\"gh-exp-hdr\" onclick=\"ghToggleW('spew-detail',this)\">\n  <span class=\"gh-exp-lbl\">More Details</span>\n  <span class=\"gh-exp-arr\">\u25b6</span>\n</div>\n<div class=\"gh-exp-body\" id=\"spew-detail\">\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;\">\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Bank</div><div class=\"gh-val\" id=\"spew-bank\">\u2014</div></div>\n    <div class=\"gh-box\"><div class=\"gh-lbl\">RX Ant</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-rxant\">\u2014</div></div>\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Model</div><div class=\"gh-val\" style=\"font-size:11px;color:var(--gh-muted);\" id=\"spew-model\">\u2014</div></div>\n  </div>\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:5px;margin-top:5px;\">\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Temp Lower</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-templ\">\u2014\u00b0C</div></div>\n    <div class=\"gh-box\"><div class=\"gh-lbl\">Temp Combiner</div><div class=\"gh-val\" style=\"font-size:12px;\" id=\"spew-tempc\">\u2014\u00b0C</div></div>\n  </div>\n</div>\n\n<div class=\"gh-exp-hdr\" onclick=\"ghToggleW('spew-ctrl',this)\">\n  <span class=\"gh-exp-lbl\">SPE Controls</span>\n  <span class=\"gh-exp-arr\">\u25b6</span>\n</div>\n<div class=\"gh-exp-body\" id=\"spew-ctrl\">\n  <div style=\"display:grid;grid-template-columns:repeat(2,1fr);gap:5px;margin-bottom:6px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'INPUT'})\">Input \u25b6</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'ANTENNA'})\">Antenna \u25b6</button>\n  </div>\n</div>\n\n<div class=\"gh-exp-hdr\" onclick=\"ghToggleW('spew-aux',this)\">\n  <span class=\"gh-exp-lbl\">SPE Aux</span>\n  <span class=\"gh-exp-arr\">\u25b6</span>\n</div>\n<div class=\"gh-exp-body\" id=\"spew-aux\">\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:5px;\">\n    <button class=\"gh-btn gh-btn-b\" ng-click=\"send({payload:'BL_ON'})\">B/L On</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'BL_OFF'})\">B/L Off</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'DISPLAY'})\">Display</button>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:5px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'L_MINUS'})\">L \u2212</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'L_PLUS'})\">L +</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'SET'})\">Set</button>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;margin-bottom:5px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'C_MINUS'})\">C \u2212</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'C_PLUS'})\">C +</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'BAND_MINUS'})\">Band \u2212</button>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:5px;\">\n    <button class=\"gh-btn\" ng-click=\"send({payload:'LEFT'})\">\u25c0 Left</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'RIGHT'})\">Right \u25b6</button>\n    <button class=\"gh-btn\" ng-click=\"send({payload:'BAND_PLUS'})\">Band +</button>\n  </div>\n</div>\n\n</div>\n\n<script>\nfunction ghToggleW(id, hdr){\n  var body=document.getElementById(id);\n  var arr=hdr.querySelector('.gh-exp-arr');\n  var open=body.classList.toggle('open');\n  arr.classList.toggle('open',open);\n}\nfunction speBadgeW(id, text, cls){ var el=document.getElementById(id); if(!el) return; el.textContent=text; el.className='gh-badge '+cls; }\nfunction speValW(id, text, color){ var el=document.getElementById(id); if(!el) return; el.textContent=text; if(color) el.style.color=color; }\n\n// Persistent amp-state. Top-level var \u2014 visible to the watch callback\n// AND the IIFE below. Don't park state on scope \u2014 `scope` only lives during\n// this script's top-level execution; references from later-fired\n// functions throw ReferenceError on Safari.\nvar spe_amp_state = { on: false };\n// IIFE captures scope as a true parameter (real closure) \u2014 needed because\n// scope isn't a free closure variable here, only a transient top-level\n// reference. Same pattern as the AS3935 Control Panel.\n(function(scope){\n  window.speAmpToggle = function(){\n    var on = !!spe_amp_state.on;\n    var prompt = on ? 'Power OFF the SPE amplifier?' : 'Power ON the SPE amplifier?';\n    if (!confirm(prompt)) return;\n    scope.send({ payload: on ? 'OFF_SPE' : 'ON_SPE' });\n  };\n})(scope);\nfunction speBarW(barId, valId, pct, val, color){ var b=document.getElementById(barId); var v=document.getElementById(valId); if(b){ b.style.width=Math.min(100,Math.max(0,pct))+'%'; b.style.background=color||'var(--gh-green)'; } if(v){ v.textContent=val; v.style.color=color||'var(--gh-green)'; } }\n\nscope.$watch('msg', function(msg){\n  if(!msg||!msg.payload) return;\n  var d=msg.payload;\n  if(d.mode!==undefined){ var mc=d.mode==='Operate'?'gh-err':'gh-ok'; speBadgeW('spew-mode', d.mode||'\u2014', mc); }\n  if(d.rxtx!==undefined){ var rc=d.rxtx==='TRANSMIT'?'gh-err':'gh-ok'; speBadgeW('spew-rxtx', d.rxtx||'\u2014', rc); }\n  if(d.band!==undefined) speValW('spew-band', d.band||'\u2014');\n  if(d.input!==undefined) speValW('spew-input', 'Input '+d.input);\n  if(d.txant!==undefined) speValW('spew-txant', d.txant||'\u2014');\n  if(d.pwrlvl!==undefined){ var pc=d.pwrlvl==='Maximum'?'gh-err':d.pwrlvl==='Middle'?'gh-wrn':'gh-inf'; speBadgeW('spew-pwrlvl', d.pwrlvl||'\u2014', pc); }\n  if(d.warnings!==undefined){ var wc=d.warnings==='No Warnings'?'gh-ok':'gh-wrn'; speBadgeW('spew-warn', d.warnings||'\u2014', wc); }\n  if(d.alarms!==undefined){ var ac=d.alarms==='No Alarms'?'gh-ok':'gh-err'; speBadgeW('spew-alarm', d.alarms||'\u2014', ac); }\n  if(d.usb!==undefined){\n    speBadgeW('spew-usb', d.usb?'Connected':'Disconnected', d.usb?'gh-ok':'gh-err');\n    spe_amp_state.on = !!d.usb;\n    var pbtn = document.getElementById('spew-pwr-btn');\n    if (pbtn) {\n      pbtn.classList.toggle('gh-btn-g',  d.usb);\n      pbtn.classList.toggle('gh-btn-r', !d.usb);\n      pbtn.textContent = d.usb ? 'ON' : 'OFF';\n    }\n    if (!d.usb) {\n      // Amp gone \u2014 every cached state field is stale. Wipe to '\u2014' so the\n      // panel stops lying. State msgs from a returning amp repopulate\n      // each field via their existing per-field handlers below.\n      ['spew-mode','spew-rxtx','spew-pwrlvl','spew-warn','spew-alarm','spew-sync']\n        .forEach(function(id){ speBadgeW(id, '\\u2014', ''); });\n      ['spew-band','spew-input','spew-txant','spew-vpa','spew-ipa','spew-temp',\n       'spew-bank','spew-rxant','spew-model','spew-templ','spew-tempc',\n       'spew-pwr-val','spew-atuswr-val','spew-antswr-val'\n      ].forEach(function(id){\n        var el = document.getElementById(id);\n        if (el) { el.textContent = '\\u2014'; el.style.color = ''; }\n      });\n      ['spew-pwr-bar','spew-atuswr-bar','spew-antswr-bar'].forEach(function(id){\n        var el = document.getElementById(id);\n        if (el) { el.style.width = '0%'; el.style.background = 'var(--gh-green)'; }\n      });\n    }\n  }\n  if(d.sync!==undefined) speBadgeW('spew-sync', d.sync?'Up':'Down', d.sync?'gh-ok':'gh-err');\n  if (d.pwr !== undefined) {\n  var SPE_SCALE = [5, 25, 50, 100, 500, 1000, 1500, 2000, 5000];\n  var pwr = parseFloat(d.pwr) || 0;\n  var bandMax = SPE_SCALE[SPE_SCALE.length - 1];\n  for (var i = 0; i < SPE_SCALE.length; i++) { if (pwr <=SPE_SCALE[i]) { bandMax=SPE_SCALE[i]; break; } } var\n    pp=Math.min(100, Math.max(0, pwr / bandMax * 100)); var pc2=pp> 90 ? 'var(--gh-red)' : pp > 70 ? 'var(--gh-amber)' :\n    'var(--gh-green)';\n    var bar = document.getElementById('spew-pwr-bar');\n    if (bar) { bar.style.width = pp + '%'; bar.style.background = pc2; }\n    var pvel = document.getElementById('spew-pwr-val');\n    if (pvel) { pvel.textContent = Math.round(pwr) + '/' + bandMax + 'W'; pvel.style.color = pc2; }\n    }\n\n  if(d.atuswr!==undefined){ var sp=Math.min(100,Math.max(0,(d.atuswr-1)/2*100)); var sc=d.atuswr>2?'var(--gh-red)':d.atuswr>1.5?'var(--gh-amber)':'var(--gh-green)'; speBarW('spew-atuswr-bar','spew-atuswr-val',sp,d.atuswr.toFixed(2),sc); }\n  if(d.antswr!==undefined){ var ap=Math.min(100,Math.max(0,(d.antswr-1)/2*100)); var ac2=d.antswr>2?'var(--gh-red)':d.antswr>1.5?'var(--gh-amber)':'var(--gh-green)'; speBarW('spew-antswr-bar','spew-antswr-val',ap,d.antswr.toFixed(2),ac2); }\n  if(d.vpa!==undefined) speValW('spew-vpa', d.vpa+'V');\n  if(d.ipa!==undefined) speValW('spew-ipa', d.ipa+'A');\n  if(d.tempUpper!==undefined){ var tc=d.tempUpper>60?'var(--gh-red)':d.tempUpper>50?'var(--gh-amber)':'var(--gh-green)'; speValW('spew-temp', d.tempUpper+'\u00b0C', tc); }\n  if(d.bank!==undefined) speValW('spew-bank', 'Bank '+d.bank);\n  if(d.rxant!==undefined) speValW('spew-rxant', d.rxant||'\u2014');\n  if(d.model!==undefined) speValW('spew-model', d.model||'\u2014');\n  if(d.tempLower!==undefined){ var tlc=d.tempLower>60?'var(--gh-red)':d.tempLower>50?'var(--gh-amber)':'var(--gh-green)'; speValW('spew-templ', d.tempLower+'\u00b0C', tlc); }\n  if(d.tempComb!==undefined){ var tcc=d.tempComb>60?'var(--gh-red)':d.tempComb>50?'var(--gh-amber)':'var(--gh-green)'; speValW('spew-tempc', d.tempComb+'\u00b0C', tcc); }\n});\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 140,
        "wires": [
            [
                "ws_btn_router"
            ]
        ]
    },
    {
        "id": "ws_btn_router",
        "type": "function",
        "z": "spe_ws_tab_01",
        "name": "Button \u2192 WS command",
        "func": "// Two outputs:\n//   1 (top) \u2192 WS out (commands)        \u2014 mapped WS command string\n//   2 (bot) \u2192 SPE power-on script exec \u2014 Pi-side FTDI DTR/RTS pulse\n// Why: WS power_on can't wake a powered-off amp (the chip's CPU is fully\n// off, so the spe-remote serial link is dead). The Pi-side script\n// power_spe_on.py drives the FTDI lines directly to cold-start.\nconst map = {\n  MODE: 'oper',\n  TUNE: 'tune',\n  INPUT: 'input',\n  ANTENNA: 'antenna',\n  PWRLVL: 'power_level',\n  BL_ON: 'backlight_on',\n  BL_OFF: 'backlight_off',\n  L_MINUS: 'l_minus',\n  L_PLUS: 'l_plus',\n  C_MINUS: 'c_minus',\n  C_PLUS: 'c_plus',\n  LEFT: 'left',\n  RIGHT: 'right',\n  SET: 'set',\n  DISPLAY: 'display',\n  BAND_MINUS: 'band_dn',\n  BAND_PLUS: 'band_up',\n  OFF_SPE: 'power_off'\n};\nif (msg.payload === 'ON_SPE') {\n  return [null, msg];   // route to exec\n}\nconst cmd = map[msg.payload];\nif (!cmd) return null;\nmsg.payload = cmd;\nreturn [msg, null];     // route to WS out\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "ws_out_node"
            ],
            [
                "ws_spe_power_on_exec"
            ]
        ]
    },
    {
        "id": "ws_spe_power_on_exec",
        "type": "exec",
        "z": "spe_ws_tab_01",
        "name": "SPE power-on script",
        "command": "python3",
        "addpay": "",
        "append": "<path-to-spe-remote>/power_spe_on.py",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "x": 1010,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ws_out_node",
        "type": "websocket out",
        "z": "spe_ws_tab_01",
        "name": "WS out (commands)",
        "client": "ws_spe_client",
        "x": 1320,
        "y": 140,
        "wires": []
    },
    {
        "id": "ws_css_template",
        "type": "ui_template",
        "z": "spe_ws_tab_01",
        "group": "",
        "name": "SPE GitHub CSS (WS)",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n:root{\n  --gh-bg:#0d1117;--gh-card:#161b22;--gh-border:#30363d;\n  --gh-text:#c9d1d9;--gh-muted:#8b949e;\n  --gh-green:#3fb950;--gh-red:#f85149;--gh-amber:#e3b341;--gh-blue:#58a6ff;\n  --gh-font:'SFMono-Regular','Consolas',monospace;\n  --gh-sans:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\n}\n.gh-card{background:var(--gh-card);border:1px solid var(--gh-border);border-radius:6px;padding:10px 12px;font-family:var(--gh-sans);color:var(--gh-text);}\n.gh-sec{font-size:10px;color:var(--gh-muted);letter-spacing:2px;text-transform:uppercase;padding:2px 0 5px;border-bottom:1px solid var(--gh-border);margin-bottom:8px;}\n.gh-lbl{font-size:9px;color:var(--gh-muted);letter-spacing:1px;text-transform:uppercase;}\n.gh-val{font-family:var(--gh-font);font-size:14px;font-weight:700;margin-top:2px;}\n.gh-box{background:#0d1117;border:1px solid var(--gh-border);border-radius:4px;padding:5px 7px;}\n.gh-track{background:#21262d;border-radius:2px;height:6px;width:100%;}\n.gh-fill{height:6px;border-radius:2px;}\n.gh-badge{border-radius:4px;padding:2px 8px;font-size:10px;font-family:var(--gh-font);display:inline-block;margin-top:2px;border:1px solid;}\n.gh-ok{background:#0d2818;border-color:var(--gh-green);color:var(--gh-green);}\n.gh-err{background:#2d0808;border-color:var(--gh-red);color:var(--gh-red);}\n.gh-inf{background:#0d1a2a;border-color:var(--gh-blue);color:var(--gh-blue);}\n.gh-wrn{background:#2d1800;border-color:var(--gh-amber);color:var(--gh-amber);}\n.gh-btn{border-radius:4px;padding:6px 10px;font-size:11px;font-family:var(--gh-font);cursor:pointer;text-align:center;border:1px solid var(--gh-border);background:#0d1117;color:var(--gh-text);width:100%;transition:all 0.15s;}\n.gh-btn:hover{border-color:var(--gh-blue);color:var(--gh-blue);}\n.gh-btn-g{border-color:var(--gh-green);color:var(--gh-green);background:#0d2818;}\n.gh-btn-r{border-color:var(--gh-red);color:var(--gh-red);background:#2d0808;}\n.gh-btn-b{border-color:var(--gh-blue);color:var(--gh-blue);background:#0d1a2a;}\n.gh-btn-a{border-color:var(--gh-amber);color:var(--gh-amber);background:#2d1800;}\n.gh-exp-hdr{display:flex;align-items:center;justify-content:space-between;cursor:pointer;padding:6px 0;border-top:1px solid var(--gh-border);margin-top:8px;user-select:none;}\n.gh-exp-hdr:hover .gh-exp-lbl{color:var(--gh-blue);}\n.gh-exp-lbl{font-size:10px;color:var(--gh-muted);letter-spacing:2px;text-transform:uppercase;}\n.gh-exp-arr{font-size:10px;color:var(--gh-muted);transition:transform 0.2s;display:inline-block;}\n.gh-exp-arr.open{transform:rotate(90deg);}\n.gh-exp-body{overflow:hidden;max-height:0;transition:max-height 0.25s ease;}\n.gh-exp-body.open{max-height:600px;padding-top:8px;}\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 170,
        "y": 280,
        "wires": [
            []
        ]
    }
]
